.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 200px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    background-color: transparent;
    color: white;
    z-index: 1000;
}

.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.navbar li {
    cursor: pointer;
}

.logoContainer {
    display: flex;
    align-items: center;
    margin: 0.5rem;
}

.logoContainer img {
    width: 60px;
    height: auto;
    margin-right: 10px;
    filter: invert(100%) brightness(2);
}

.logoContainer h1 {
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: beige;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.dropdown-content a:hover {
    background-color: #dca2ee9b;
}

.dropdown:hover .dropdown-content {
    display: block;
}


@media (max-width: 768px) {
    .navbar {
        padding: 10px 10px;
    }

    .navbar ul {
        gap: 10px;
    }

    .logoContainer h1 {
        font-size: 1rem;
    }

    .dropdown-content {
        min-width: 100px;
    }
}

@media (max-width: 480px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar ul {
        flex-direction: column;
        gap: 5px;
    }

    .logoContainer {
        margin: 0.3rem;
    }

    .logoContainer h1 {
        font-size: 0.9rem;
    }

    /* Ensure the dropdown aligns well on mobile */
    .dropdown-content {
        left: 0;
        /* Align the dropdown to the left */
        right: auto;
        /* Avoid right alignment */
    }
}

