.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 20px;
    margin-top: -50px;
    z-index: 2;
   
}

.header>img {
    width: 100%;
   
    max-width: 600px;
   
    height: auto;
    position: absolute;
        top: 200px;
        left: 900px;
}

.header>h1 {
    font-size: 3rem;
    color: white;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    max-width: 500px;
    position: absolute;
        top: 300px;
        font-size: 50px;
        font-weight: bolder;
}


.s-part {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
    padding: 0 20px;
}

.s-part-1,
.s-part-2,
.s-part-3 {
    flex: 1;
    max-width: 300px;
    text-align: center;
    margin: 10px;
}

.s-part-1>i,
.s-part-2>i,
.s-part-3>i {
    color: gray;
    font-size: 2rem;
}

.s-part-1>i:hover,
.s-part-2>i:hover,
.s-part-3>i:hover {
    color: rgba(137, 43, 226, 0.664);
}

.s-part-1>h2,
.s-part-2>h2,
.s-part-3>h2 {
    font-size: 1.5rem;
    display: inline;
    margin: 10px 0;
    font-weight: bolder;
}

.s-part-1>p,
.s-part-2>p,
.s-part-3>p {
    color: rgba(128, 128, 128, 0.786);
    margin: 5px 0;
}


@media (max-width: 1024px) {
    .header>h1 {
        font-size: 1.5rem;
        align-items: center;
        top:200px
    }
    .header>img{
        display: none;
    }

    .s-part>div {
        max-width: 45%;
        
    }
}

@media (max-width: 600px) {
    .header>h1 {
        display: none;
    }
        .header>img {
            display: none;
        }

    .s-part {
        flex-direction: column;
        
        align-items: center;
        
    }

    .s-part>div {
        max-width: 100%;
        
    }
}

